$primary-red:hsl(7, 99%, 70%);
$primary-yellow:hsl(51, 100%, 49%);
$primary-cyan:hsl(167, 40%, 24%);
$primary-blue:hsl(198, 62%, 26%);
$primary-moderate-cyan:hsl(168, 34%, 41%);

$secondary-desat-blue:hsl(212, 27%, 19%);
$secondary-very-dark-gray-blue:hsl(213, 9%, 39%);;
$secondary-dark-gray-blue:hsl(232, 10%, 55%);
$secondary-gray-blue:hsl(210, 4%, 67%);
$secondary-white:hsl(0, 0%, 100%);

$base-font-size:18px;

@font-face {
  font-family: "Barlow";
  src: url("/public/fonts/Barlow-Regular.ttf"),
 }
 @font-face {
  font-family: "Fraunces";
  src: url("/public/fonts/Fraunces-Black.ttf"),
 }
 *{
   font-size:$base-font-size ;
 }
body{
  margin:0px;
  padding:0px;
  width: 100%;
  // height:100%;
  // max-width: 100%;
  // overflow-x: hidden;
}
main{
  
  height: 100%;
  // position: absolute;
  // top:0px;
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: repeat(5, 1fr);
  // grid-column-gap: 0px;
  // grid-row-gap: 0px; 
}

.header{
    // border:1px solid red;
    // position: relative;
    // top: 0px;
    // left:0px;
    color:$secondary-white;
    
    background: url("../images/mobile/image-header.jpg") no-repeat bottom/cover;
    width: 100%;
    height:100%;

    &__nav{
      // border: 1px solid purple;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin:auto 1rem;
      &--title{
        font-family: Fraunces;
        font-weight: 900;
      }
      &--icon-menu{
        font-size:0.2rem;
      }
    }
    &__text{
      font-family: Fraunces;
      font-weight: 700;
      padding:0 2rem ;
      letter-spacing: 0.5rem;
      text-align:center;
    }
    &__arrow{
      position:relative;
      left: 50%;
      top: 5.5rem;
      transform: translateX(-50%);
    }
}
.info-section{
  display:flex;
  flex-direction: column;
  top:0px;
  left:0px;
  align-items: center;
  &__image{
    width:100%;
    height:auto;
  }
  &__title{
    font-family: Fraunces;
    font-weight: 700;
    font-size: 1.5rem;
    margin:2rem 2rem;
    text-align:center;
  }
  &__text{
    text-align: center;
    color: $secondary-gray-blue;
    line-height: 1.2;
    margin:auto 2rem;
  }
  &__link{
    text-align: center;
    font-size: 0.8rem;
    margin:1rem auto;
    text-decoration: none;
    font-weight: bold;
    &:link{
      color:$secondary-desat-blue;
    }
    &:hover{
      text-decoration: underline solid $primary-red 0.2rem;
    }
  }
}
.info-section-bkg{
  // background: url("../images/mobile/image-graphic-design.jpg") no-repeat bottom/cover;
    // width: 100%;
    height:100%;
    position:relative;
    margin:0px;
    &__title{
      position:absolute;
      top:65%;
      left:50%;
      transform: translateX(-50%);

      font-family: Fraunces;
      color:$secondary-very-dark-gray-blue;
      width:100%;
      text-align: center;
      font-weight: 700;
      font-size: 1.5rem;
      // z-index: -1;
    }
    &__text{
      position:absolute;
      top:75%;
      left:50%;
      transform: translateX(-50%);
      width:90%;

      font-family: Barlow;
      font-size:0.8rem;
      font-weight: 600;
      text-align: center;
      color: $secondary-very-dark-gray-blue;
      margin-top:1rem;
    }
    &__image{
      margin:0px;
      width:100%;
      
    }
}






