$primary-red:hsl(7, 99%, 70%);
$primary-yellow:hsl(51, 100%, 49%);
$primary-cyan:hsl(167, 40%, 24%);
$primary-blue:hsl(198, 62%, 26%);
$primary-moderate-cyan:hsl(168, 34%, 41%);

$secondary-desat-blue:hsl(212, 27%, 19%);
$secondary-very-dark-gray-blue:hsl(213, 9%, 39%);
$secondary-dark-gray-blue:hsl(232, 10%, 55%);
$secondary-gray-blue:hsl(210, 4%, 67%);
$secondary-white:hsl(0, 0%, 100%);

$base-font-size:18px;

@font-face {
  font-family: "Barlow";
  src: url("/public/fonts/Barlow-Regular.ttf"),
 }
 @font-face {
  font-family: "Fraunces";
  src: url("/public/fonts/Fraunces-Black.ttf"),
 }
 *{
   font-size:$base-font-size ;
   box-sizing: border-box;
 }
 html{
  //  height: 100%;
 }
body{
  margin:0px;
  padding:0px;
  // width: 100%;
  // height:100%;
  // max-width: 100%;
  overflow-x: hidden;
}

//mobile

//tablet
@media only screen and (min-width:375px){
  // #container{
  //   display:grid;
  //   grid-template-columns: repeat(4,1fr);
  // }
  
  // .col12{
  //   grid-column: 1 2;
  //   width:50vw;
  //   height:100vh;
  // }
  // .col34{
  //   grid-column: 3 4;
  //   width:50vw;
  //   height:100vh;
  // }
}

//desktop
@media only screen and (min-width:1440px){
  // main{
  //   grid-template-columns: repeat(4,1fr);
  //   grid-template-rows:repeat(7,1fr);
  // }
}


.header{
    // border:1px solid red;

    position: relative;
    top: 0px;
    left:0px;
    color:$secondary-white;
    @media only screen and (max-width: 375px){
      background-image: url("../images/mobile/image-header.jpg");
    }
    @media only screen and (min-width: 375px){
      background-image: url("../images/desktop/image-header.jpg");
    }
    // background-image: -webkit-image-set("../images/mobile/image-header.jpg" 1x, "../images/desktop/image-header.jpg" 1.3x);
    // background-image: image-set("../images/mobile/image-header.jpg" 1x,"../images/dektop/image-header.jpg" 1.3x);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    height:100vh;

    &__nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin:auto 1rem;
      &--title{
        font-family: Fraunces;
        font-weight: 900;
      }
      &--icon-menu{
        font-size:0.2rem;
      }
      &-burger-click{
        position:absolute;
        left:90%;
        opacity:0;
      }
      &-burger-menu{
        display:none;
        position:absolute;
        top:2rem;
        background-color:$secondary-white;
        width:90%;
        list-style:none;
        >li{
          text-align: center;
          padding:1rem;
          >a:link{
            color:black;
            text-decoration: none;
          }
          >a:hover{
            background-color: $primary-yellow;
            padding:0.5rem;
            border-radius: 20px;
          }
        }

      }
      &-burger-click:checked ~ &-burger-menu{
        display:block;
      }
      
    }
    &__text{
      font-family: Fraunces;
      font-weight: 700;
      padding:0 2rem ;
      letter-spacing: 0.5rem;
      text-align:center;
    }
    // FIXME:position
    // TODO:animate
    &__arrow{
      position:relative;
      left: 50%;
      top: 5.5rem;
      transform: translateX(-50%);
    }
}
@media only screen and (max-width:375px){
  .info-section{
    // width:50vw;
    display:flex;
    flex-direction: column;  
    top:0px;
    left:0px;
    align-items: center;
    &__image{
      width:100%;
      height:auto;
    }
    &__title{
      font-family: Fraunces;
      font-weight: 700;
      font-size: 1.5rem;
      margin:2rem 2rem;
      text-align:center;
    }
    &__text{
      text-align: center;
      color: $secondary-gray-blue;
      line-height: 1.2;
      margin:auto 2rem;
    }
    &__link{
      text-align: center;
      font-size: 0.8rem;
      margin:1rem auto;
      text-decoration: none;
      font-weight: bold;
      &:link{
        color:$secondary-desat-blue;
      }
      &:hover{
        text-decoration: underline solid $primary-red 0.2rem;
      }
    }
  }
}
@media only screen and (min-width:375px){
  .info-section{
    position:relative;
    top:0px;
    left:0px;
    &__image{
      position:relative;
      width:50%;
      // TODO:image on the left or the right
      &--left{
        float:left;
      }
      &--right{
        float:right;
      }
    }
    &__title,&__text,&__link{
      max-width:50%;
    }
  }
}


.info-section-bkg{
  // background: url("../images/mobile/image-graphic-design.jpg") no-repeat bottom/cover;
    // width: 100%;
    height:100vh;
    position:relative;
    margin:0px;
    &__title{
      position:absolute;
      top:65%;
      left:50%;
      transform: translateX(-50%);

      font-family: Fraunces;
      color:$secondary-very-dark-gray-blue;
      width:100%;
      text-align: center;
      font-weight: 700;
      font-size: 1.5rem;
      // z-index: -1;
    }
    // TODO:modify positionning
    &__text{
      position:absolute;
      top:75%;
      left:50%;
      transform: translateX(-50%);
      width:90%;

      font-family: Barlow;
      font-size:0.8rem;
      font-weight: 600;
      text-align: center;
      color: $secondary-very-dark-gray-blue;
      margin-top:1rem;
    }
    &__image{
      margin:0px;
      width:100%;
      
    }
}

.testimonials{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title{
    text-transform: uppercase;
    font-family: Fraunces;
    letter-spacing: 0.2rem;
    font-weight: 400;
    margin:2rem auto;
    padding:1rem 1.5rem;
    color:$secondary-gray-blue;
    font-size: 1rem;
  }
}
.testimonials__person{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .person__image{
    border-radius: 50%;
    width:25%;
    margin:1.5rem auto;
  }
  .person__text{
    margin:1rem 1rem;
    font-weight: 600;
    line-height: 1.4rem;
    text-align: center;
    color:$secondary-very-dark-gray-blue;
  }
  .person__name{
    color:$secondary-desat-blue;
    font-weight: 900;
  }
  .person__position{
    font-weight: 700;
    font-size: 0.8rem;
    color:$secondary-gray-blue;
  }
}

.gallery{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  margin:0px;
  &__image{
    margin:0;
    padding:0;
    width:50vw;
  }
}

.footer{
  margin:0px;
  background-color: $primary-moderate-cyan;
  color: $primary-cyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title{
    font-family: Barlow; //FIXME:
    font-size: 1.5rem;
    font-weight: 900;
  }
  &__links{
    list-style: none;
    width:100%;
    text-align: center;
    padding:0;
    >li{
      margin-left:1.3rem;
      margin-right:1.3rem;
      display:inline-block;
      >a:link{
        text-decoration: none;
        color: $primary-cyan;
      }
      a:hover{
        color:$secondary-white;
      }
    }
  }
  &__socials{
    list-style: none;
    padding:0;
    >li{
      margin:0.6rem;
      display: inline-block;
      >a:hover{
        color:$secondary-white;
      }
    }
    
  }
  
}









