$primary-red:hsl(7, 99%, 70%);
$primary-yellow:hsl(51, 100%, 49%);
$primary-cyan:hsl(167, 40%, 24%);
$primary-blue:hsl(198, 62%, 26%);
$primary-moderate-cyan:hsl(168, 34%, 41%);

$secondary-desat-blue:hsl(212, 27%, 19%);
$secondary-very-dark-gray-blue:hsl(213, 9%, 39%);;
$secondary-dark-gray-blue:hsl(232, 10%, 55%);
$secondry-gray-blue:hsl(210, 4%, 67%);
$secondary-white:hsl(0, 0%, 100%);

$base-font-size:18px;






