@font-face {
  font-family: "Barlow";
  src: url("/public/fonts/Barlow-Regular.ttf");
}
@font-face {
  font-family: "Fraunces";
  src: url("/public/fonts/Fraunces-Black.ttf");
}
* {
  font-size: 18px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

.header {
  color: white;
  background-image: url("../images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100vw;
  height: 100vh;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 1rem;
}
.header__nav--title {
  font-family: Fraunces;
  font-weight: 900;
}
.header__nav--icon-menu {
  font-size: 0.2rem;
}
.header__nav-burger-click {
  position: absolute;
  left: 90%;
  opacity: 0;
}
.header__nav-burger-menu {
  display: none;
  position: absolute;
  top: 2rem;
  background-color: white;
  width: 90%;
  list-style: none;
}
.header__nav-burger-menu > li {
  text-align: center;
  padding: 1rem;
}
.header__nav-burger-menu > li > a:link {
  color: black;
  text-decoration: none;
}
.header__nav-burger-menu > li > a:hover {
  background-color: #fad400;
  padding: 0.5rem;
  border-radius: 20px;
}
.header__nav-burger-click:checked ~ .header__nav-burger-menu {
  display: block;
}
.header__text {
  font-family: Fraunces;
  font-weight: 700;
  padding: 0 2rem;
  letter-spacing: 0.5rem;
  text-align: center;
}
.header__arrow {
  position: relative;
  left: 50%;
  top: 5.5rem;
  transform: translateX(-50%);
}

.info-section {
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  align-items: center;
}
.info-section__image {
  width: 100%;
  height: auto;
}
.info-section__title {
  font-family: Fraunces;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 2rem 2rem;
  text-align: center;
}
.info-section__text {
  text-align: center;
  color: #a7abae;
  line-height: 1.2;
  margin: auto 2rem;
}
.info-section__link {
  text-align: center;
  font-size: 0.8rem;
  margin: 1rem auto;
  text-decoration: none;
  font-weight: bold;
}
.info-section__link:link {
  color: #23303e;
}
.info-section__link:hover {
  text-decoration: underline solid #fe7867 0.2rem;
}

.info-section-bkg {
  height: 100%;
  position: relative;
  margin: 0px;
}
.info-section-bkg__title {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  font-family: Fraunces;
  color: #5a636c;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}
.info-section-bkg__text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  font-family: Barlow;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  color: #5a636c;
  margin-top: 1rem;
}
.info-section-bkg__image {
  margin: 0px;
  width: 100%;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials__title {
  text-transform: uppercase;
  font-family: Fraunces;
  letter-spacing: 0.2rem;
  font-weight: 400;
  margin: 2rem auto;
  padding: 1rem 1.5rem;
  color: #a7abae;
  font-size: 1rem;
}

.testimonials__person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials__person .person__image {
  border-radius: 50%;
  width: 25%;
  margin: 1.5rem auto;
}
.testimonials__person .person__text {
  margin: 1rem 1rem;
  font-weight: 600;
  line-height: 1.4rem;
  text-align: center;
  color: #5a636c;
}
.testimonials__person .person__name {
  color: #23303e;
  font-weight: 900;
}
.testimonials__person .person__position {
  font-weight: 700;
  font-size: 0.8rem;
  color: #a7abae;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0px;
}
.gallery__image {
  margin: 0;
  padding: 0;
  width: 50vw;
}

.footer {
  margin: 0px;
  background-color: #458c7e;
  color: #25564b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__title {
  font-family: Barlow;
  font-size: 1.5rem;
  font-weight: 900;
}
.footer__links {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 0;
}
.footer__links > li {
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  display: inline-block;
}
.footer__links > li > a:link {
  text-decoration: none;
  color: #25564b;
}
.footer__links > li a:hover {
  color: white;
}
.footer__socials {
  list-style: none;
  padding: 0;
}
.footer__socials > li {
  margin: 0.6rem;
  display: inline-block;
}
.footer__socials > li > a:hover {
  color: white;
}

/*# sourceMappingURL=base.css.map */
